@{
    ViewData["Title"] = "Home Page";
}

<!---->
<div class="text-center">
    <h1 class="display-4 mb-4 mt-5">Bienvenido a la aplicación para corredores</h1>
    <p class="mb-5">Aquí podrás calcular la velocidad de hasta 10 corredores y generar reportes de los tiempos</p>
    <img src="~/runners.jpg" alt="Runners" height="400px">
</div>
